<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="shortcut icon" href="./assets/icons/infinite.svg" type="image/x-icon">
    <link rel="stylesheet" href="./css/registro.css">
</head>
<body>
    <!-- Mobile -->
    <div class="mobile">
        <!-- Logo -->
        <div class="icon">
            <h1>Seek</h1>
            <img src="./assets/icons/infinite.svg" alt="Logo Seek">
        </div>

        <!-- Formulario -->
        <form action="">
            <div class="back-title-registro">
                <h3>Registro</h3>
            </div>

            <!-- Labels & Inputs -->
            <div class="labels-inputs">
                <label for="nombres">Nombres</label>
                <input type="text" id="nombres">
                
                <label for="apellidos">Apellidos</label>
                <input type="text" id="apellidos">

                <label for="correo">Correo</label>
                <input type="text" id="correo">

                <label for="contraseña">Contraseña</label>
                <input type="text" id="contraseña">
            </div>

            <div class="back-btn-registro">
                <button>Regístrate</button>
            </div>
        </form>

        <!-- Login -->
        <div class="back-btn-login">
            <p>¿Ya tienes cuenta?</p>
            <div class="back-login">
                <a href="/views/login.html">Iniciar sesión</a>
            </div>
        </div>
    </div>

    <!-- Tablet - Desktop -->
    <div class="desktop">
        <div class="left">
            <!-- Logo -->
            <div class="icon">
                <h1>Seek</h1>
                <img src="./assets/icons/infinite.svg" alt="Logo Seek">
            </div>
        </div>

        <div class="right">
            <!-- Formulario -->
            <form action="">
                <div class="back-title-registro">
                    <h3>Registro</h3>
                </div>
    
                <!-- Labels & Inputs -->
                <div class="labels-inputs">
                    <div class="box-left">
                        <label for="nombres">Nombres</label>
                        <input type="text" id="nombres">
                        
                        <label for="apellidos">Apellidos</label>
                        <input type="text" id="apellidos">
                    </div>

                    <div class="box-right">
                        <label for="correo">Correo</label>
                        <input type="text" id="correo">
        
                        <label for="contraseña">Contraseña</label>
                        <input type="text" id="contraseña">
                    </div>
                   
                </div>
    
                <div class="back-btn-registro">
                    <button>Regístrate</button>
                </div>
            </form>
    
            <!-- Login -->
            <div class="back-btn-login">
                <p>¿Ya tienes cuenta?</p>
                <div class="back-login">
                    <a href="/views/login.html">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
